In [2]:
from CRR.model import model
import pandas as pd

In [3]:
customer = pd.read_csv("Customer.csv")
order = pd.read_csv("Order.csv")
product = pd.read_csv("Product.csv")

In [4]:
RFM = model.get_rfm(customer, product, order)

In [5]:
Clusters = model.get_clusters(RFM)

Cluster Summary for 3 Clusters:
        Recency Frequency Monetary
           mean      mean     mean count
Cluster
0         22.50      3.41  2553.67   316
1         22.48      6.29  9286.03   124
2        189.41      2.92  4878.88    49


Cluster Summary for 4 Clusters:
        Recency Frequency Monetary
           mean      mean     mean count
Cluster
0         21.73      3.41  2033.06   286
1         34.25      3.99  9437.97    69
2        191.27      2.92  4814.08    48
3         16.50      7.09  8531.91    86


Cluster Summary for 5 Clusters:
        Recency Frequency  Monetary
           mean      mean      mean count
Cluster
0         14.32      5.07   2681.61   178
1         35.31      4.01   8922.34    71
2         29.46      2.37   1797.29   153
3         22.30      7.36  13626.99    44
4        200.77      2.93   4932.73    43


Cluster Summary for 6 Clusters:
        Recency Frequency  Monetary
           mean      mean      mean count
Cluster
0         14.36      4.13   2643.47   157
1         37.13      3.94   9068.98    69
2         33.81      2.19   1307.25   120
3         21.00      7.19  15942.56    31
4        200.77      2.93   4932.73    43
5         14.78      6.78   4253.80    69

In [6]:
Clusters

,CustomerID,Recency,Frequency,Monetary,R_Score,F_Score,M_Score,RFM_Score,Cluster
0,1,6.0,1.0,81.60,4,1,1,411,2
1,2,8.0,2.0,392.68,3,1,1,311,2
2,3,6.0,3.0,167.82,4,1,1,411,2
3,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
4,5,1.0,5.0,3018.97,4,3,2,432,0
...,...,...,...,...,...,...,...,...,...
495,496,183.0,1.0,89.60,1,1,1,111,4
496,497,66.0,2.0,2160.84,1,1,2,112,2
497,498,6.0,7.0,24094.18,4,4,4,444,3
498,499,107.0,3.0,3952.63,1,1,3,113,2
499,500,15.0,7.0,2211.15,3,4,2,342,0

In [8]:
#Clusters.to_csv("RFM_Clusters.csv")